/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "Base";
            bindings = <
&kp TAB     &kp Q           &kp W               &kp E           &kp R             &kp T        &kp Y      &kp U        &kp I           &kp O                &kp P              &kp BSPC
&kp ESCAPE  &mt LEFT_ALT A  &mt LEFT_CONTROL S  &mt LEFT_WIN D  &mt LEFT_SHIFT F  &kp G        &kp H      &mt RSHFT J  &mt LEFT_WIN K  &mt RIGHT_CONTROL L  &mt LEFT_ALT SEMI  &kp SQT
&kp LSHFT   &kp Z           &kp X               &kp C           &kp V             &kp B        &kp N      &kp M        &kp COMMA       &kp DOT              &kp FSLH           &kp RIGHT_SHIFT
                                                &mkp LCLK       &mo 1             &kp ENTER    &kp SPACE  &mo 2        &mkp RCLK
            >;
        };

        number {
            display-name = "Numbers";
            bindings = <
&kp TAB     &kp N1        &kp N2            &kp N3        &kp N4             &kp N5          &kp N6    &kp N7         &kp N8       &kp N9     &kp N0  &kp BSPC
&kp ESCAPE  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_WIN  &kp LEFT_SHIFT     &trans          &kp LEFT  &kp DOWN       &kp UP       &kp RIGHT  &trans  &trans
&kp LSHFT   &out OUT_TOG  &kp K_PLAY_PAUSE  &kp C_MUTE    &kp C_VOLUME_DOWN  &kp C_VOL_UP    &kt HOME  &kt PAGE_DOWN  &kp PAGE_UP  &kp END    &trans  &trans
                                            &trans        &trans             &trans          &trans    &mo 3          &trans
            >;
        };

        sign {
            display-name = "Signs";
            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &kp DEL
&kp LCTRL  &trans    &trans  &trans    &trans    &trans       &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT  &trans    &trans  &trans    &trans    &trans       &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp PIPE  &kp TILDE
                             &trans    &trans    &trans       &trans     &trans     &trans
            >;
        };

        functions {
            display-name = "Functions";
            bindings = <
&trans      &kp F1        &kp F2        &kp F3                 &kp F4                &kp F5                  &kp F6      &kp F7  &kp F8  &kp F9  &kp F10  &kp F11
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2           &bt BT_SEL 3          &bt BT_SEL 4            &trans      &trans  &trans  &trans  &trans   &kp F12
&trans      &trans        &trans        &kp C_BRIGHTNESS_AUTO  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC    &sys_reset  &trans  &trans  &trans  &trans   &trans
                                        &trans                 &trans                &trans                  &trans      &trans  &trans
            >;
        };
    };
};
